<!DOCTYPE html>
{% load static %}
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Daijoubu?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
      </head>
    <body>
      {% include "navbar.html" %}

    <div class="container" style="margin-bottom:20px">
      <div class="row">

        <div class="col-sm-4 col-md-4" style="margin-bottom:40px">
          <div class="cardname" style="padding-bottom: 20px; text-align: center;">
            <img src="{% static 'cardPhoto.jpg' %}" class="img-responsive img-rounded" alt="Responsive image">
            <h4 style="padding-bottom: 8px;">Ikmal Almuhtadi</h4>
            <h5><i>Sistem informasi</i></h5>
          </div>
          <hr class="rounded">
          <h3 style="text-align: center">My Current Favorite <p>Video Games</p></h3>
          <div class="gamelogo" style="margin-left: auto; margin-right: auto;">
            <img src="{% static 'game1.png' %}" class="img-responsive" alt="Responsive image">
            <br>
            <br>
            <img src="{% static 'game2.jpg' %}" class="img-responsive" alt="Responsive image">
          </div>
        </div>

        <div class="col-sm-8 col-md-8" style="padding-left: 30px;">
            <div class="aboutme">
                <h2>About Me>></h2>
                <p> I am an undergraduate student at University of Indonesia. 
                  I have a interest in gaming, travelling, and culinary topic. 
                  I also like to eat, a lot and one of my favorite dish is Wagyu 
                  Steak with creamy spinach.</p>
            </div>
            <br>
            <div class="experiences">
              <h2>Personal Experiences>></h2>
              <h4>Business Development Intern - <b>Hijrahfood</b></h4>
              <h4>VPIC of Operational - <b>PMB Fasilkom UI</b></h4>
              <h4>Staff of FnB Division - <b>COMPFEST 12</b></h4>
              <h4>Staff of Operational - <b>Wisuda Ganjil Fasilkom UI</b></h4>
            </div>
            <br>
            <div class="educations">
              <h2>Educations>></h2>
              <table id="edu" class="table-responsive table-borderless">
                <tbody>
                  <tr>
                    <td>SD Islam Al Azhar Jakapermai</td>
                    <td>:  2007 - 2013</td>
                  </tr>
                  <tr>
                    <td>SMP Negeri 109 Jakarta </td>
                    <td>:  2013 - 2016</td>
                  </tr>
                  <tr>
                    <td>SMA Negeri 5 Bekasi </td>
                    <td>:  2016 - 2019</td>
                  </tr>
                  <tr>
                    <td>Universitas Indonesia</td>
                    <td>:  2019 - 2023 (expected)</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <div class="contact">
              <h2>Contact me on <></h2>
              <table class="table-responsive table-borderless">
                <tbody>
                  <tr>
                    <td><a href="https://t.me/ikmalmuhtadi"target="_blank">
                      <img class="imge-responsive" src="{% static 'telegram.png' %}" hspace="25"/></a></td>
                      <td><a href="https://www.linkedin.com/in/ikmal-almuhtadi-bb87081a2/"target="_blank">
                      <img class="imge-responsive" src="{% static 'linkedin.png' %}" hspace="25"/></a></td>
                      <td><a href="https://www.instagram.com/ikmalmuhtadi/"target="_blank">
                      <img class="imge-responsive" src="{% static 'instagram.png' %}" hspace="25"/></a></td>
                      <td><a href="https://twitter.com/ikmalmuhtadi"target="_blank">
                      <img class="imge-responsive" src="{% static 'twitter.png' %}" hspace="25"/></a></td>
                  </tr>
                </tbody>
              </table>  
            </div>
        </div>

      </div>  
    </div>  

        <div class="footer footer-am">
          <div class="container">
            <p>Copyright © 2020 Ikmal.</p>
          </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>

</html>