<!DOCTYPE html>
{% load static %}
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Daijoubu?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
      </head>
    <body class="home">
        <div class="row" id="upper">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="{% static 'logo.png' %}" id="krox" class="img-responsive img-rounded" alt="Responsive image">
                    <h1>Deeper.</h1>
                    <h1>Closer.</h1>
                </div>
            </div>
        </div>
        <br>
                        
        <div class="row" id="button">
            <div class="col-md-6 text-center">
                <a href="{% url 'homepage:about' %}" class="btn btn-default btn-lg" role="button">About Me</a>
            </div>
            <div class="col-md-6 text-center">
                <a href="{% url 'homepage:memories' %}" class="btn btn-default btn-lg" role="button">Memories</a>
            </div>
    
        </div>
        <br>
        <br>
        
        <div id="kotak" class="col-12 text-center">
            <p class="mini-p">Little Preview ☻</p>
            <div id="blur-p" class="row">
                <div class="col-md-4">
                    <img src="{% static 'blur1.JPEG' %}" class="img-responsive img-rounded" alt="Responsive image">
                </div>
                <div class="col-md-4">
                    <img src="{% static 'blur2.JPEG' %}" class="img-responsive img-rounded" alt="Responsive image">
                </div>
                <div class="col-md-4">
                    <img src="{% static 'blur3.JPEG' %}" class="img-responsive img-rounded" alt="Responsive image">
                </div>
            </div>
        </div>
        

        <div class="footer-h">
            <p>Copyright © 2020 Ikmal.</p>
        </div>




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>