<!DOCTYPE html>
{% load static %}
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Daijoubu?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
      </head>
    <body>
      {% include "navbar.html" %}

          <div class="container">
            <div id="memories" class="row">
              <h2 style="text-align: center; padding-bottom: 30px;">Wonderful Times</h2>
              <div class="col-sm-4 col-md-4">
                <img src="{% static 'memories1.JPG' %}" class="img-responsive img-rounded" alt="Responsive image">
                <p style="padding-top: 20px;">Pentas seni Aftermath</p>
                <img src="{% static 'memories2.JPG' %}" class="img-responsive img-rounded" alt="Responsive image" style="margin-top: 60px;">
                <p style="padding-top: 20px;">Parade UI</p>
              </div>
              <div class="col-sm-4 col-md-4">
                <img src="{% static 'memories3.JPG' %}" class="img-responsive img-rounded" alt="Responsive image">
                <p style="padding-top: 20px;">Bakar-bakar pas tahun baru</p>
                <img src="{% static 'memories4.JPG' %}" class="img-responsive img-rounded" alt="Responsive image" style="margin-top: 60px;">
                <p style="padding-top: 20px;">Foto wajib maba UI</p>
              </div>
              <div class="col-sm-4 col-md-4">
                  <img src="{% static 'test2.jpg' %}" class="img-responsive img-rounded" alt="Responsive image" style="max-width:109%">
                  <p style="padding-top: 20px;">Pertama kali ketemu Salju :D</p>
                  <img src="{% static 'test1.jpg' %}" class="img-responsive img-rounded" alt="Responsive image" style="margin-top: 60px; max-width:103%">
                  <p style="padding-top: 20px;">Lab DDP2 terkocak</p>
              </div>
            </div>
          </div>

        <div class="footer footer-am">
          <div class="container">
            <p>Copyright © 2020 Ikmal.</p>
          </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>