<!DOCTYPE html>
{% load static %}
<html lang="en"> 
    <head>
        <meta charset="utf-8">
        <title>Daijoubu?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
      </head>

    <body>
        <nav class="navbar navbar-inverse navbar-expand-sm" style="background-color: black;">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img class="imge-responsive" src="{% static 'logo.png' %}" width="83" height="auto" alt="kroX">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'homepage:home' %}">Home</a></li>
                <li><a href="{% url 'homepage:about' %}">About Me</a></li>
                <li><a href="{% url 'homepage:memories' %}">Memories</a></li>
                <li><a href="{% url 'homepage:smt3' %}">Jadwal Kuliah</a></li>
                <li><a href="{% url 'story_1:story1' %}">Story-1</a></li>
            </ul>
            </div>
        </nav>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
</html>